@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: var(--very-dark-blue);
    height: 100vh;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.main{
    width: 350px;
    height: 350px;
    background-color: var(--dark-blue);
    border-radius: 25px;
    padding: 27px;
}

.star{
    background-color: var(--medium-grey);
    width: 15%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 20px;
}

.star img{
    width: 40%;
    display: flex;
}

main .main h1{
    color: white;
    font-family: Overpass, "sans-serif";
    font-weight: 700;
    font-size: 23px;
}

main .main p{
    color: var(--light-grey);
    font-family: Overpass, "sans-serif";
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 25px;
    line-height: 20px;
}

main .main ul{
    display: flex;
    justify-content: space-between;
}

main .main ul button{
    color: var(--light-grey);
    font-weight: 700;
    font-size: 15px;
    list-style-type: none;
    background-color: transparent;
    border: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

main .main ul button:hover{
    color: white;
    background-color: var(--light-grey);
    opacity: 1;
    cursor: pointer;
}


main .main ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--medium-grey);
}

.selected{
    color: white !important;
    background-color: var(--btn-click) !important;
}

.submit{
    margin-top: 20px;
    width: 100%;
    height: 13%;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: var(--btn-click);
    font-family: Overpass, "sans-serif";
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer !important;
}

.submit:hover{
    background-color: white;
    color: var(--btn-click);
}



#thanks{
    position: absolute;
}

#thanks img{
    display: flex;
    justify-content: center;
    margin-left: 27%;
    margin-top: 15px;
    width: 45%;
}

#thanks .select{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    color: var(--btn-click);
    background-color: hsl(217, 12%, 63%, 0.1);
    border-radius: 10px;
    width: 50%;
    margin-left: 25%;
    line-height: 180%;
}

#thanks h1{
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}

#thanks .paragraph{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 13px;
}

.no-opacity{
    display: none;
}
